asgiref==3.7.2
beautifulsoup4==4.12.3
Django==4.2.10
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-compressor==4.4
django-libsass==0.9
libsass==0.23.0
python-dotenv==1.0.1
rcssmin==1.1.1
rjsmin==1.2.1
soupsieve==2.5
sqlparse==0.4.4
