{% extends "global/index.html" %}
{% load static %}



{% block container %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="/static/listaTarefa/css_lista_de_tarefas/style.css" type="text/css" charset="utf-8">
{% endcompress %}
<script defer src="{% static "listaTarefa/js/main_tarefa.js" %}"></script>
<h1 class>Lista de tarefas</h1>
<div class="table-responsive" style="text-align: left">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Tarefa</th>
          <th scope="col">Status</th>
          <th scope="col">Editar</th>
          <th scope="col">Apagar</th>
          <th scope="col">Salvar</th>
        </tr>
      </thead>
      {% for tarefa in tarefas %}
        <tbody>
          <tr>
            <td><p style="font-size: 1.3rem;">{{tarefa.tarefa}}</p></td>
            <td>
              <p style="font-size: 1.3rem;">{{ tarefa.get_status_display }}</p>
            </td>
            <td>
              <button>SALVAR</button>
            </td>
          </tr>
        </tbody>
      {% endfor %}
  </table>  
</div>

{% endblock container %}