{% extends "global/index.html" %}
{% load static %}



{% block container %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="/static/listaTarefa/css_lista_de_tarefas/style.css" type="text/css" charset="utf-8">
{% endcompress %}
<script defer src="{% static "listaTarefa/js/main_tarefa.js" %}"></script>
  <h1 class>Lista de tarefas</h1>
    <p>
      <input type="text" class="form-control" id="input-tarefa">
      <button id="btn-tarefa" class="btn btn-primary">Adicionar</button>
    </p>
    <ul class="list-group" id="list-tarefa"></ul>
{% endblock container %}